@model IEnumerable<PizzaMenu.Models.MenuItem>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome To The Menu of Any Pizza Shop That Isn't Little Caesars (Laugh its meant to be Funny).</p>
</div>

<div class="text-center">
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BasePrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                </tr>


            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(menuItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(menuItem => item.Name)
                    </td>
                    <td>
                        $@item.BasePrice
                    </td>
                    <td>
                        @(item.Active ? "Yes" : "No")
                    </td>
                </tr>

                }
            </tbody>
        </table>
    </div>
</div>